.delete-button,
.dont-delete-button {
  padding: 10px 20px;
  border: 2px solid #000000;
  border-radius: 4px;
  cursor: pointer;
  font-size: 12px;
  width: 100%;
}

.delete-button {
  background-color: #ff5a5f;
  color: white;
}

.delete-button:hover {
  background-color: #ff3b3f;
}

.dont-delete-button {
  background-color: #999;
  color: white;
}

.dont-delete-button:hover {
  background-color: #777;
} 