.delete-spot-modal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.delete-spot-modal-container h1 {
    padding: 0;
    margin: 20px 0 0 0;
}

.delete-spot-modal-container p {
    font-size: 18px;
}

.delete-button, .dont-delete-button {
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 10px;
    border: 2px solid #000000;
    width: 80%;
}

.delete-button {
    background-color: #ff0000;
}

.dont-delete-button {
    background-color: rgb(65, 65, 65);
    color: #ffffff;
    border: 2px solid #000000;
}

.delete-button:hover {
    cursor: pointer;
    background-color: rgb(255, 0, 0);
    color: #000000;
    border: 2px solid #000000;
}

.dont-delete-button:hover {
    cursor: pointer;
    background-color: rgb(65, 65, 65);
    color: #000000;
    border: 2px solid #000000;
}