@import url('https://fonts.googleapis.com/css2?family=Honk&display=swap');

#root {
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    flex: 1;
    justify-content: flex-start;
}

.logo {
    display: inline-block;
    font-family: 'Honk', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #333;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 10px;
    position: relative;
    width: 100%;
    gap: 10px;
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0;
    width: 100%;
    gap: 10px;
}

li {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px; 
}

li img {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-top: auto;
    transform: translateY(25%);
}

li h1 {
    margin: 0; /* Remove default margins from h1 */
    margin-left: auto; /* Push the h1 to the right */
}

.login-signup-buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    position: relative;
    width: 100%;
    gap: 20px;
    margin-right: 30px;
}

.home-link {
    display: flex; 
    justify-content: flex-start;
    margin-left: 20px;
}

button.create-spot-button {
    color: lightpink;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: inherit;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

button.create-spot-button:hover {
    color: #ff385c;
}

.profile-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #333;
    transition: color 0.3s ease;
    height: 35px;
    width: 35px;
    margin-right: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.profile-icon:hover {
    color: #555; /* Change color on hover */
}

.profile-dropdown {
    position: absolute; 
    top: 90%; /* Align to bottom of icon */
    right: 0; /* Align to the right of the container */
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    z-index: 1000;
}

.profile-dropdown.hidden {
    display: none;
}

.profile-dropdown li {
    padding: 5px 0;
    cursor: pointer;
}

.profile-dropdown li:hover {
    background-color: #f0f0f0;
}

.profile-dropdown button {
    width: 100%;
    text-align: left;
    background: none;
    border: none;
    padding: 5px 0;
    cursor: pointer;
    font-size: 36px;
}

.profile-dropdown button.logout-button {
    color: rgb(255, 255, 255);
    background-color: black;
    padding: 5px 10px; 
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

.profile-dropdown button:hover {
    background-color: #f0f0f0;
    color: black;
    font-weight: bold;
    border: 2px solid black;
}

.profile-dropdown button:active {
    background-color: black;
    color: white;
    font-weight: bold;
    border: 2px solid black;
}

.profile-dropdown .user-info {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.profile-dropdown .user-info li {
    padding: 2px 0;
}

.profile-icon-container {
    position: relative; /* Add this */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 80px;
    width: 80px;
}



